%h1.bold-sans.ratings-black{style: "width: auto;margin-top:20px;margin-bottom:20px;text-align:center"}
  {{ businessObj.business.name }}
-#%div{style: "background: #E47B3D;height:40px;margin-top:50px;margin-bottom:50px;"}
%div{style: "margin-left: 15px"}
  %h3.serif
    ALL-TIME
%div{style: "position: relative;width: 90px;height: 90px;"}
  %img{alt: "Badge", height: "80", src: "/assets/badge.svg", width: "80", style: "position: absolute;top:-25%;z-index:1"}
  -# %img{alt: "Badge", height: "90", src: "/assets/badge_bright.svg", width: "90", style: "position: absolute;top:-25%;z-index:0"}
  %h3.serif.ratings-white{style: "position: absolute;top: -10%;left: 25%;font-size: 27.5px;z-index:2;"}
    {{ average }}
  .clearfix
.molot.ratings-white
  %span.reset{style: "font-size: 46px;"} RAT
  %h2.inliner{style: "margin-left: -10px"} ING