#title-badge.position-absolute
  .pull-left.molot
    %span.reset.hero-title.ratings-white.ratings-text-shadow RAT
    %h2.inliner.ratings-white.ratings-text-shadow INGS
  .pull-left.position-relative
    = image_tag("badge.svg", width: 60, height: 60)
    = image_tag("cute_rat.svg", height: 60, width: 60, class: "position-absolute rat-svg")

#search.position-absolute
  %form.form-inline{data: {"ng-controller" => "TypeaheadCtrl"}, name: "streetSearch"}
    %label.ratings-black{style: "text-shadow: -2px 2px 2px #bebebe"}
      %strong Find a restaurant by name

    %span.alert.alert-error{data: {"ng-show" => "hasError.error"}} 
      {{hasError.message}}
    %br  
    %input#business-search{type: "text", placeholder: "Hot Dog Heaven", "ng-model" => "business", name: "business", value: "Hot Dog Heaven", required: true, "typeahead" =>"b for b in businesses | filter:$viewValue | limitTo: 8"}
    %button.btn.black-bg{type: "submit", "ng-click" => "search()", value: "Search", "ng-disabled" => "streetSearch.business.$error.required"}
      %i.icon-search.icon-white

