#title-badge.position-absolute
  .pull-left.molot
    %span.reset.hero-title.ratings-white.ratings-text-shadow RAT
    %h2.inliner.ratings-white.ratings-text-shadow INGS
  .pull-left.position-relative
    = image_tag("badge.svg", width: 60, height: 60)
    = image_tag("cute_rat.svg", height: 60, width: 60, class: "position-absolute rat-svg")

%div{"ratings-search" => ""}
