#title-badge
  .pull-left.molot
    %span.reset.hero-title RAT
    %h2.inliner INGS
  #raticon.pull-left
    = image_tag("badge.svg", width: 60, height: 60)
    = image_tag("cute_rat.svg", height: 60, width: 60, class: "rat-svg")