= render "title"

#myModal{data: {"ng-controller" => "DialogCtrl"}}
  
%div#map-canvas.sepia-blur{"google-map"=>"", "ng-controller" => "MapCtrl", data: {stamenType: "toner-lite", options: '{"streetViewControl": false, "zoomControl": false, "panControl": false, "rotateControl": false, "mapTypeControl": false}'}} 

%div#business-display{data: {"ng-controller" => "BusinessCtrl", "ng-show" => "showBusiness", "ng-animate" => "{show: 'fade-show', hide: 'fade-hide'}"}}
  #business-banner-container
    = render "business_banner"
    .clearfix
    %div
      %h5 Click a previous inspection to see violations.
      #violations-container{data: {"ng-controller" => "AccordionCtrl"}}
        = render "business_table"

-#.position-absolute.ratings-black-bg{style: "top:0%; left:50%;"}
  %form.form-inline{data: {"ng-controller" => "TypeaheadCtrl"}, name: "streetSearch"}
    %label
      Find a restaurant by name

    %span.alert.alert-error{data: {"ng-show" => "hasError.error"}} 
      {{hasError.message}}
    %br  
    %input{type: "text", id: "business-search", placeholder: "Hot Dog Heaven", "ng-model" => "business", name: "business", value: "Hot Dog Heaven", required: true, "typeahead" =>"b for b in businesses | filter:$viewValue | limitTo: 8"}
    %input.btn{type: "submit", "ng-click" => "search()", value: "Search", "ng-disabled" => "streetSearch.business.$error.required"}

