#title-badge
  .pull-left.molot
    %span.reset.hero-title RAT
    %h2.inliner INGS
  #raticon.pull-left
    = image_tag("badge.svg", width: 60, height: 60)
    = image_tag("cute_rat.svg", height: 60, width: 60, class: "rat-svg")

#myModal{data: {"ng-controller" => "DialogCtrl"}}

%div#map-canvas.sepia-blur{"google-map"=>"", "ng-controller" => "MapCtrl", data: {stamenType: "toner-lite", options: '{"streetViewControl": false, "zoomControl": false, "panControl": false, "rotateControl": false, "mapTypeControl": false}'}} 

%div#business-display{data: {"ng-controller" => "BusinessCtrl", "ng-show" => "showBusiness", "ng-animate" => "{show: 'fade-show', hide: 'fade-hide'}"}}
  %div
    %p
      {{ businessObj.average_score }}
  %h2
    {{ businessObj.business.name}}
  %h4
    {{ businessObj.business.address}}

  %table.table
    %thead
      %tr
        %th Date
        %th Type
        %th Score
  %div{"ng-repeat" => "i in businessObj.by_year"}
    %table.table.table-hover.table-first
      %tbody
        %tr{"ng-click" => "showViolations = !showViolations"}
          %td {{ i.inspection.date }}
          %td {{ i.inspection.visit_type }}
          %td {{ i.inspection.score }}
    %table.table{style: "display: none", "ng-show" => "showViolations", "ng-animate" => "{show: 'fade-show', hide: 'fade-hide'}"}
      %thead
        %tr
          %th Description
          %th Pending?
          %th Addressed On
        %tbody
          %tr{"ng-repeat" => "v in i.violations"}
            %td {{ v.description }}
            %td {{ v.pending }}
            %td {{ v.corrected_on }}
        
-#%div
  %button#geocode See places near me
  %div
    %form
      %label
        Or Search by address
      %input{placeholder: "eg, 100 Market St, SF, CA"}
      %button{type: "submit"} Search

