= render "title"

#myModal{data: {"ng-controller" => "DialogCtrl"}}
  
%div#map-canvas.sepia-blur{"google-map"=>"", "ng-controller" => "MapCtrl", data: {stamenType: "toner-lite", options: '{"streetViewControl": false, "zoomControl": false, "panControl": false, "rotateControl": false, "mapTypeControl": false}'}} 

%div#business-display{data: {"ng-controller" => "BusinessCtrl", "ng-show" => "showBusiness", "ng-animate" => "{show: 'fade-show', hide: 'fade-hide'}"}}
  = render "business_banner"

  %div{style: "width:90%;margin-left:auto;margin-right:auto;"}
    %div{style: "border: 4px solid #3a3939;margin-top:40px"}
      = render "business_table"
        
-#%div
  %button#geocode See places near me
  %div
    %form
      %label
        Or Search by address
      %input{placeholder: "eg, 100 Market St, SF, CA"}
      %button{type: "submit"} Search

