#title-badge
  .pull-left.molot
    %span.reset.hero-title RAT
    %h2.inliner INGS
  #raticon.pull-left
    = image_tag("badge.svg", width: 60, height: 60)
    = image_tag("cute_rat.svg", height: 60, width: 60, class: "rat-svg")

#myModal{data: {"ng-controller" => "DialogCtrl"}}

%div#map-canvas.sepia-blur{"google-map"=>"", "ng-controller" => "MapCtrl", data: {stylers: "stylers.json", options: '{"streetViewControl": false, "zoomControl": false, "panControl": false, "rotateControl": false, "mapTypeControl": false}'}} 

%div#business-display{data: {"ng-controller" => "BusinessCtrl", "ng-show" => "showBusiness"}}
  %div
    %p
      {{ businessObj.average_score }}

  %img{class: "pull-left", src: "#{asset_path('cute_rat.svg')}", data: {"ng-repeat" => "t in ratScore()"}}
  %h2
    {{ businessObj.business.name}}
  %h4
    {{ businessObj.business.address}}
-#%div
  %button#geocode See places near me
  %div
    %form
      %label
        Or Search by address
      %input{placeholder: "eg, 100 Market St, SF, CA"}
      %button{type: "submit"} Search

