.rat-icons.clearfix
  %p {{businessName}}
  %a{class: "ratings-link", href: "#", data: {"ng-hide" => "!violations", "ng-click" => "seeBusiness(index)"}} SEE VIOLATIONS
  %p{data: {"ng-show" => "!violations"}} VERMIN FREE!
