#myModal
  %h2{ class: "yellow serif", style: "text-align: center;"} Over 62% of San Francisco restaurants have food safety violations..
  .span6{style: "text-align: center;"}
    %p{class: "alert alert-error", data: {"ng-show" => "error.hasError"}}
      {{error.message}}
    %button#locate.span2.offset1.ratings-btn.thin-sans{data: {"ng-click" => "locate()", "ng-disabled" => "!active"}} What's dirty near me?
  .clearfix