#myModal
  %div{style: "width: 50%;margin:0 auto"}
    %div{style: "text-align: center;"} 
      %h3.yellow.serif
        In San Francisco, health inspectors handed out
      %h1.ratings-red.molot
        OVER 3 VIOLATIONS 
      %h4.ratings-white.serif
        to
      %h1.ratings-red.molot
        73% OF RESTAURANTS 
      %h4.yellow.serif
        in the past year...
    .clearfix
    %br
    %br
    %div{style: "text-align: center;"}
      %p{class: "alert alert-error", data: {"ng-show" => "error.hasError"}}
        {{error.message}}
      %button#locate.ratings-btn.thin-sans{data: {"ng-click" => "locate()", "ng-disabled" => "!active"}} What's dirty near me?
  .clearfix