angular.module("google-map", ['broadcastService', 'geolocationService','Pin', 'fileLoader', 'content-window']).directive("googleMap", function($compile,$http,broadcastService,geolocationService, Pin, fileLoader) {
  var _defaults = {
    zoom: 14,
    center: new google.maps.LatLng(37.7750, -122.4183),
    mapTypeId: 'road'
  };

  function drawMap(element, options, styled) {
    var map = new google.maps.Map(element, options),
        layer = null;

    if (typeof styled === "object") {
      map.mapTypes.set('map_style', styled);
      map.setMapTypeId('map_style');
    } else if (typeof styled === "string") {
      layer = styled;
      map.mapTypes.set(layer, new google.maps.StamenMapType(layer));
      map.setMapTypeId(layer);
    }
    return map;
  }

  return {
    priority: 100,
    restrict: 'EA',
    template: "<div class='angular-google-map' ng-transclude></div>",
    replace: false,
    transclude: true,
    scope: true,
    controller: function($scope, $compile, broadcastService) {
      var template = null; 
  
      $scope.currentMarker = null;
      $scope.businesses = null;
      $scope.markers = [];

      $scope.$on('closeModal', function(evt, data) {
        $scope.move(17);
        $scope.businesses = data;

        angular.forEach(data, function(businessObj, index) {
          var business = businessObj.business,
              message = null;

          a = 1;
            for(var i = 0; i<a;i++) {
              //tm += '<img src="<%= asset_path("cute_rat.svg")%>" class="pull-left" height="35" width="35">';
            }

          var message = null;
          template = $compile("<div content-window business-name="+business.name.replace(/ /,"-")+" score="+businessObj.average_score+"></div>")($scope);

          $scope.addMarker(business.latitude, business.longitude, message, index, template);
        });
      });
      
      $scope.refresh = function() {
        google.maps.event.trigger($scope.map, "resize");
      };

      /* Moves to the position returned by the location, service
       * @param {zoom} Integer Zoom the map to the desired level
      */
      $scope.move = function(zoom) {
        var lat = geolocationService.currentPosition.latitude,
            lng = geolocationService.currentPosition.longitude

        $scope.map.panTo(new google.maps.LatLng(lat, lng));
        if (!angular.isUndefined(zoom))
          $scope.map.setZoom(zoom);
      };

      $scope.addMarker = function(lat, lng, message, index, template) {
        var location = new google.maps.LatLng(lat, lng),
            marker = new Pin({
              map: $scope.map,
              draggable: false,
              animation: google.maps.Animation.DROP,
              icon: "<%= asset_path('black_marker.svg') %>",
              position: location
            }, message, index, template);
        google.maps.event.addDomListener(marker, 'click', $scope.setCurrentWindow);
        $scope.markers.push(marker);
      };

      $scope.setCurrentWindow = function() {
        if ($scope.currentMarker) $scope.currentMarker.toggleInfoWindow();

        if ($scope.currentMarker === this) {
          $scope.currentMarker = null;
         // broadcastService.broadcast("HideBusiness");
          return false;
        }
        
        $scope.currentMarker = this;

        $scope.map.panTo($scope.currentMarker.getPosition());
        $scope.currentMarker.toggleInfoWindow()
       // broadcastService.broadcast("ShowBusiness", $scope.businesses[this.index]);

      };
    },
    link: function(scope, element, attrs, controller) {
      var styledMap = null, options = null;

      if (attrs.stylers) {
        fileLoader.load(attrs.stylers).success(function(data, status) {
          styledMap = new google.maps.StyledMapType(data.stylers, {name: "Styled Map"});
        });
      }

      if (attrs.stamentype) {
        styledMap = attrs.stamentype;
      }

      if (attrs.options) 
        options = angular.extend({}, _defaults, angular.fromJson(attrs.options));
      else
        options = _defaults;

      google.maps.event.addDomListener(window, 'load', function() {
        scope.map = drawMap(element[0], options, styledMap);
      });

      scope.$on("closeModal", function() {
        element.removeClass("sepia-blur");
      });
    }
  };
});
