angular.module("content-window",["broadcastService"]).directive("contentWindow", function($compile, broadcastService) {
  function scoreToRats(score) {
    return score >= 90 ? 0 :
           score >= 79 && score <= 89 ? 1 :
           score < 79 && score >=69 ? 2 :
           score < 69 && score >= 59 ? 3 : 4;
  }

  return {
    restrict: "EA",
    replace: true,
    template: "<div class='rat-icons clearfix'><p>{{businessName}}</p><a class='ratings-link' href='#' data-ng-hide='!violations' data-ng-click='seeBusiness(index)'>SEE VIOLATIONS</a><p data-ng-show='!violations'>VERMIN FREE!</p></div>",
    scope: {
      businessName: "@"
    },
    /*controller: function($scope) {
      $scope.violations = false;
      $scope.seeBusiness = function() {};

      $scope.$on("closeModal", function(evt, data) {
        angular.forEach(data, function(businessObj, index) {
          $scope.violations = scoreToRats(businessObj.average_score) === 0 ? false : true;
          $scope.businessName = businessObj.business.name;
        });
      });
    },*/
      link: function(scope, element, attrs) {
        console.log(arguments)
        scope.businessName = attrs.businessName;
        var sc = scoreToRats(parseInt(attrs.score))
        scope.violations = scoreToRats(parseInt(attrs.score)) === 0 ? false : true;
        scope.$apply();
      }
  };
});
