angular.module("cWindow", [
  "BroadcastService"
]).directive("contentWindow", function($compile, BroadcastService, $rootScope) {
  function scoreToRats(score) {
    return score >= 90 || score === 0 ? 0 :
           score >= 79 && score <= 89 ? 1 :
           score <  79 && score >= 69 ? 2 :
           score <  69 && score >= 59 ? 3 : 4;
  }

  function ratImgString(numRats) {
    var ratImgString = "";

    for (var i = 0; i < numRats; i++) {
      ratImgString += '<img src="<%= asset_path("cute_rat.svg")%>" height="30" width="30">';
    }

    for(var i = 0; i < 4 - numRats; i++) {
      ratImgString += "<img src=\"<%=asset_path('cute_rat_empty.svg') %>\" height='30' width='30'>";
    }

    return ratImgString;
  }

  // Template placed annoyingly directly in the function.
  // Built in templateUrl doesnt load fast enough to handle dynamic content.
  return {
    restrict: "EA",
    replace: true,
    template: "<div ng-animate='{show: \'fade-hide\', hide: \'fade-hide\'}'}><div><p class='helvetica business-name'>{{businessName}}</p><div class='clearfix rat-icons'></div><a class='ratings-link' href='#' data-ng-hide='!violations' data-ng-click='seeBusiness()'>SEE VIOLATIONS!</a><p class='no-violations' data-ng-show='!violations'>VERMIN FREE!</p></div></div>",
    scope: true,
		compile: function(element, attrs) {
			var scoreAsRats = scoreToRats(parseInt(attrs.score));

      if (scoreAsRats > 0) {
        element.find(".rat-icons").html(ratImgString(scoreAsRats));
      }

      return {
        pre: function() {},
        post: function(scope, element, attrs) {
          scope.activeBusiness = false;
          scope.businessName = attrs.businessName;
          scope.violations = scoreAsRats === 0 ? false : true;
          scope.businessIndex = attrs.businessIndex;

          scope.seeBusiness = function(evt, business) {
            if (scope.activeBusiness) {
              BroadcastService.broadcast("HideBusiness");
              return scope.toggleBusiness();
            }

            BroadcastService.broadcast("ShowBusiness", scope.$parent.businesses[scope.businessIndex]);

            scope.toggleBusiness();
          };

          // TODO this is a hack but I cant seem to get everything scoped
          // correctly any other way.
          scope.$apply(function() {
            if(scope.violations) {
              var interval = setInterval(function() {
                // this seems to take a few hundred milliseconds to appear on the page
                if ($(".ratings-link").is(":visible")) {
                 clearInterval(interval);
                 $(".ratings-link").on("click", function(evt) {
                    evt.stopPropagation();
                    scope.seeBusiness();
                 });
                }
	            },0);
            }
	        });

				  scope.toggleBusiness = function() {
				    scope.activeBusiness = !scope.activeBusiness;
				  };

					scope.$on("$destroy", function() {
						if (scope.activeBusiness) {
						  BroadcastService.broadcast("HideBusiness");
					  }

						$(".ratings-link").off();
					});

					$rootScope.$on("DestroyContentWindow", function() {
						scope.$destroy();
					});

      	  $rootScope.$on("HideSidebar", function() {
            scope.toggleBusiness();
      	  });
	      }
    	};
		}
  };
});

