!!!
%html{lang: "en", "ng-app" => "ratings"}
%meta{name: "viewport",  content: "initial-scale=1.0, user-scalable=no"}
%head
  %title Caveat
  = stylesheet_link_tag "application", media: "all"
  %link{href: 'http://fonts.googleapis.com/css?family=Merriweather', rel: 'stylesheet', type: 'text/css'}
  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:700, 400', rel: 'stylesheet', type: 'text/css'}
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAS-dQdovaORj1V3dLiQp931WPqX0-KFpg&sensor=true"}
  = javascript_include_tag "application"
  = csrf_meta_tags 
%body
  = yield 
