!!!
%html{lang: "en", "ng-app" => "ratings"}
%meta{name: "viewport",  content: "initial-scale=1.0, user-scalable=no"}
%head
  %title Caveat
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags 
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAS-dQdovaORj1V3dLiQp931WPqX0-KFpg&sensor=true"}
%body
  = yield 
